<mat-toolbar color="primary"   fxLayout="row" fxLayoutAlign="space-between center">
    <div class="Name">
        <a mat-button routerLink="/home"> <span><b>PetsHelp</b></span></a>
    </div>

    <div class="Options">
    <a mat-button routerLink="/Adoptions">Adopciones</a>
    <a mat-button routerLink="/PutAdoption">Poner en Adopcion</a>
    <a mat-button routerLink="/ContacUs">Contactanos</a>
    <a mat-button routerLink="/Donations">Donaciones</a>
    </div>

    <div class="icons">
        <a mat-button><mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon></a>
        <a mat-button><mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon></a>
    </div>
 
</mat-toolbar>
  
